-- Script Date: 2/5/2026 05:11  - ErikEJ.SqlCeScripting version 3.5.2.103
CREATE TABLE [Empleados] (
  [Id] int IDENTITY (1,1) NOT NULL
, [Nombre] nvarchar(80) NOT NULL
, [Apellidos] nvarchar(100) NOT NULL
, [Departamento] nvarchar(100) NOT NULL
, [Salario] numeric(18,2) NOT NULL
, [FechaIngreso] datetime NOT NULL
, [Activo] bit NOT NULL
);
GO
ALTER TABLE [Empleados] ADD CONSTRAINT [PK__Empleado__3214EC0766630B9E] PRIMARY KEY ([Id]);
GO

USE [Tarea3DB]
GO

INSERT INTO Empleados (Nombre, Apellidos, Departamento, Salario, FechaIngreso, Activo) VALUES 
('Juan', 'Perez', 'TI', 550000, '2023-01-15', 1),
('Ana', 'Sotela', 'RRHH', 600000, '2023-02-20', 1),
('Luis', 'Sánchez', 'TI', 450000, '2023-03-10', 1),
('Marta', 'Castro', 'Ventas', 700000, '2023-04-05', 1),
('Pedro', 'Rojas', 'TI', 550000, '2023-05-12', 0),
('Elena', 'Mora', 'Contabilidad', 650000, '2023-06-01', 1),
('Carlos', 'Jiménez', 'Ventas', 480000, '2023-07-15', 1),
('Lucía', 'Vargas', 'TI', 900000, '2023-08-20', 1);
GO